p {
  text-align: justify !important;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

@font-face {
    font-family: MontserratBlack;
    src: url(css/fonts/Montserrat-Black.woff);
  }
  @font-face {
    font-family: MontserratBold;
    src: url(css/fonts/Montserrat-Bold.woff);
  }
  @font-face {
    font-family: MontserratMedium;
    src: url(css/fonts/Montserrat-Medium.woff);
  }
  @font-face {
    font-family: MontserratRegular;
    src: url(css/fonts/Montserrat-Regular.woff);
  }
  @font-face{
    font-family: Calvera;
    src: url(../assets/fonts/)
  }
  .montbk{
    font-family: MontserratBlack;
  }
  .montb{
    font-family: MontserratBold;
  }
  .montm{
    font-family: MontserratMedium;
  }
  .montr{
    font-family: MontserratRegular;
  }
  

.header-logo-color{
    background-color: #0E0E0F;
}

.background-black{
    background-color: #0E0E0F;
}

.header-size{
    height: 150px;
}

.lunes-dark{
    background-color: #0E0E0F !important;
}

.ln-ml-0{
    margin-left: 0px !important;
}

.ln-bm{
    margin-bottom: 5px;
}

.ln-bm-0{
  margin-bottom: 0px;
}

.ln-bm-seres{
  margin-bottom: 10px;
}

.ln-pt-rules{
    padding-top: 20px;
}

.ln-pm-story{
    padding-top: 0px !important; 
    margin: 0px !important;
    padding-bottom: 0px !important;
}

.ln-title{
    text-transform: uppercase;
    font-family: MontserratBlack;
    letter-spacing: 1px;
}

#ln-story{
    background-image: url(images/box/story.jpg);
    width: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
}

.ln-bg-overlay-seres{
  background-color: rgba(0, 0, 0, 0.2);
}

.ln-bg-overlay-seres:hover{
  background-color: rgba(0, 0, 0, 0.5);
}

.ln-plr-12px{
  padding-left: 12px;
  padding-right: 12px;
}

.ln-hover-red:hover{
  color: #A91314;
}

.ln-story{
    color: #0E0E0F;
    padding-right: 0px;
}

.ln-pb-story{
    padding-bottom: 20px !important;
}

.ln-jtf{
  text-align: justify !important;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.ln-link-555{
  color: #555 !important;
}

.ln-link-555:hover{
  color: #EBEBEB !important;
}

.ln-icon{
  color: #EBEBEB;
}

.ln-uppercase{
  text-transform: uppercase !important;
}

.ln-seres-img{
  height: 200px;
  background-size: cover;
  background-position: center center;
}

.ln-sis-img{
  height: 75px;
  background-size: cover;
  background-position: center center;
}

.ln-ptb-numbers{
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.ln-pt-classes{
  padding-top: 25px !important;
}

.ln-pl-0{
  padding-left: 0px !important;
}

.ln-pr-0{
  padding-right: 0px !important;
}

.ln-pt-0{
  padding-top: 0px !important;
}

.ln-pb-0{
  padding-bottom: 0px !important;
}

.ln-plr-0{
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.ln-p-equipe{
  padding: 2px !important;
}

.ln-pb-cj{
  padding-top: 0px;
  padding-bottom: 30px;
}

.ln-z-2{
  z-index: 2; 
  position: relative;
}

.ln-z-999{
  z-index: 999; 
  position: relative;
}

.ln-att-bg{
  background-color: 0;
}

a:hover{
  font-weight: 800;
  color: #A91314;
}

.ln-t-red{
  color: #A91314;
}

.ln-t-red span{
  color: #555;
}

.ln-t-bold{
  font-weight: bold;
}

.ln-t-red-lato{
  color: #A91314;
  font-weight: 800;
  font-family: 'Lato', sans-serif;
}

.ln-t-atributo{
  color: #A91314 !important;
  font-weight: 800 !important;
  font-family: 'Lato', sans-serif !important;
}

.ln-t-red-lato span{
  color: #555;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
}

.ln-t-white{
  color: #EBEBEB;
}

.ln-t-black{
  color: #0E0E0F;
}

.ln-bg-magias{
  background-size: cover !important;
  background-repeat: repeat;
}

.ln-grid-fichas{
  border: 0 !important;
}

.ln-frase-ficha{
  font-style: italic;
  font-size: 1.2rem;
  padding-top: 50px;
  color: #A91314;
}

.ln-fichasFiltro-1{
  background-color: #A9131490;
}

.ln-fichasFiltro-2{
  background-color: #A9131420;
}

.ln-fichasFiltro-3{
  background-color: #A9131430;
}

.ln-fichasFiltro-4{
  background-color: #A9131440;
}

.ln-t-magia-atributo{
  color: rgb(124, 124, 124);
  text-transform: uppercase;
  font-size: 12px;
  padding-left: 4px;
}